{
  "ignoreDisables": true,
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-hudochenkov/order"
  ],
  "plugins": ["stylelint-scss"]
  ,
  "rules": {
    "alpha-value-notation": "number",
    "at-rule-empty-line-before": null,
    "block-no-empty": true,
    "color-named": "never",
    "color-hex-case": "lower",
    "import-notation": null,
    "max-nesting-depth": 5,
    "no-invalid-position-at-import-rule": null,
    "number-leading-zero": "never",
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": null
  }
}
