blockquote,
q {
  margin-top: 1.65rem;
  margin-bottom: 1.65rem;
  padding-left: 1rem;
  border-left: .25rem solid var(--xm-c-blockquote-border);
  color: inherit;
  font-weight: 500;
  font-style: italic;
  quotes: '\201C''\201D''\2018''\2019';
  p {
    &:first-of-type::before {
      content: open-quote;
    }
    &:last-of-type::after {
      content: close-quote;
    }
  }
}
