a {
  border-bottom: 1px solid var(--xm-c-border);
  color: var(--xm-c-deeper);
  font-weight: 500;
  text-decoration: none;
  transition: border .3s ease-in-out;
  code {
    color: var(--xm-c-deep);
  }
  &:hover {
    border-bottom: 1px solid var(--xm-c-regular);
  }
  &:not([href]) {
    color: inherit;
    font-weight: normal;
    transition: none;
    border-bottom: none;
  }
}
