table {
  overflow: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  th,
  td {
    padding: 6px 13px;
    border: 1.5px solid var(--xm-c-border-rev);
  }
  thead th {
    font-weight: 700;
  }
  tbody tr {
    &:hover {
      background-color: var(--xm-c-shallowest);
    }
  }
}
