code {
  font-size: .85rem;
  font-weight: 600;
  font-family: var(--xm-font-mono);
  color: var(--xm-c-dark);
  &::before, &::after {
    content: '`';
  }
}
pre {
  overflow-x: auto;
  margin-top: 1.75rem;
  padding-top: .85rem, 1.15rem;
  font-size: .85rem;
  color: var(--xm-c-pre);
  line-height: 1.75;
  margin-bottom: 1.75rem;
  border-radius: .375rem;
  code {
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
    color: inherit;
    background: transparent;
    border-width: 0;
    border-radius: 0;
    line-height: inherit;
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
  }
}
