figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
  figcaption {
    margin-top: .85rem;
    font-size: .85rem;
    color: var(--xm-c-figcaption);
    line-height: 1.45;
  }
  > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}
