.markdown-body {
  color: var(--xm-c-regular);
  font-family: var(--xm-font-display) !important;
  pre:not(.shiki, .highlight) {
    margin: 0;
    padding: 0;
    background: transparent;
  }
  .shiki,
  .highlight {
    margin: .5rem 0;
    font-size: 1.05rem;
    font-family: var(--xm-font-code) !important;
    line-height: 1.4;
    &.shiki-light {
      background: var(--xm-c-shiki-light) !important;
    }
    &.shiki-dark {
      background: var(--xm-c-shiki-dark) !important;
    }
  }
  img {
    width: 100%;
  }
  a {
    border-bottom: 1px solid var(--xm-c-link-border);
    font-weight: inherit;
    text-decoration: none;
    transition: border .3s ease-in-out;
    &:hover {
      border-bottom: 1px solid var(--xm-c-regular);
    }
    code {
      color: inherit;
    }
  }
  hr {
    width: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  blockquote,
  q {
    padding: .6rem 1.2rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5rem;
    opacity: .8;
    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    p:first-of-type {
      &::before,
      &::after {
        content: none;
      }
    }
  }
  &:first-child {
    margin-top: 1rem;
  }
}
html:not(.dark) .shiki-dark,
.dark .shiki-light {
  display: none;
}
.item {
  text-decoration: none;
  opacity: .6;
  transition: .2s all ease-out;
  &:hover {
    opacity: 1;
  }
}
.header-anchor {
  float: left;
  margin-top: .125rem;
  margin-left: -1.25rem;
  padding-right: .5rem;
  border: 0 !important;
  font-size: .875rem;
  text-decoration: none;
  opacity: 0;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
@for $i from 1 through 6 {
  h#{$i} {
    &:hover,
    &:focus {
      .header-anchor {
        opacity: .35 + $i * .025;
      }
    }
  }
}
