$shiki-light: #f8f8f8;
$shiki-dark: #0e0e0e;
$link-border: hsla(0deg 0% 50% / .3);
$code: #111827;
$ol-counter: #6b7280;
$ul-counter: #d1d5db;
$hr-border: hsla(0deg 0% 50% / .3);
$quote-border: hsla(0deg 0% 50% / .3);
$figcaption: #6b7280;
$pre: #e5e7eb;
$thead: #111827;
$thead-border: #d1d5db;
$tr-border: #e5e7eb;
